@using AdventureWorks.Resources
@using AdventureWorks.Web.Helpers.Settings
@model AdventureWorks.Model.Account.Authorization.ForgotPasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <title>@AppSettings.AppName | @Labels.ForgotPassword</title>

    @Styles.Render("~/Content/css/bootstrap/css")
    @Styles.Render("~/Content/css/fonts/font-awesome/css/css")
    @Styles.Render("~/Content/css/adminLTE/css/css")
    @Styles.Render("~/Content/app")
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>@AppSettings.AppName</b>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">Unesite email adresu na koju će biti poslani daljnji koraci za promjenu lozinke</p>

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="body bg-gray">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Fields.Email })
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn bg-primary btn-block">@Labels.EmailLink</button>
                </div>
            }
        </div>
    </div>

@Scripts.Render("~/bundles/appLib")
</body>
</html>
