@using AdventureWorks.Resources
@using AdventureWorks.Web.Helpers.Settings
@model AdventureWorks.Model.Account.Manage.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutLoginPage.cshtml";
}
           <p class="login-box-msg">@Labels.ChangePassword</p>

            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-changePassword" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group has-feedback">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = Fields.OldPassword })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group has-feedback">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = Fields.NewPassword })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group has-feedback">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })
                    <div class="col-md-7">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Fields.ConfirmPassword })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        <button type="submit" class="btn bg-primary btn-block">@Labels.ChangePassword</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-5 col-md-7">
                        @Html.ActionLink(Labels.Cancel, "Index", "Home", new { area = "Site" }, new { @class = "btn btn-default btn-block" })
                    </div>
                </div>
            }
